@page "/products"

@inject HttpClient http

<PageTitle>Produtos</PageTitle>

<h1>Produtos</h1>

<EditForm Model="@productModel" OnValidSubmit="PostProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Title" class="control-label">Titulo</label>
                <InputText @bind-Value="@productModel.Title" class="form-control" />
                <ValidationMessage For="@(()=> productModel.Title)" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="Price" class="control-label">Preço</label>
                <InputNumber  @bind-Value="@productModel.Price" class="form-control" />
                <ValidationMessage For="@(()=> productModel.Price)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mt-1">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Salvar" />
            </div>
        </div>
    </div>

</EditForm>

@code {
    Data.Models.Product productModel = new();

    protected async Task PostProduct()
    {
        await http.PostAsJsonAsync("/api/products/", productModel);
    }
}
